# To utilize this file without copying or symlinking to ~/.gitconfig, use:
# [include]
#     path = path/to/yak-setup/.gitconfig
[gui]
    color = true
[color]
    ui = auto
[alias]
    co = checkout
    ci = commit
    unstash = stash pop
    us = stash pop
    lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
    rollback = reset --soft HEAD^
[push]
    default = simple
[core]
    attributesfile = .gitattributes
[url "git@github.com:"]
    insteadOf = "gh:"
    pushInsteadOf = "github:"
    pushInsteadOf = "git://github.com/"
[url "git://github.com/"]
    insteadOf = "github:"
[url "git@gist.github.com:"]
    insteadOf = "gst:"
    pushInsteadOf = "gist:"
    pushInsteadOf = "git://gist.github.com/"
[url "git://gist.github.com/"]
    insteadOf = "gist:"
[url "git@heroku.com:"]
    insteadOf = "heroku:"
